# Server
SERVER_TYPE="http"
BIND_ADDRESS="0.0.0.0"
HTTP_PORT="3000"
HTTPS_PORT="3001"

# SSL
SSL_KEY_FILE=""
SSL_CERT_FILE=""

# API
PREFIX="api/v1/"

# Security
ADMIN_KEY="admin"
COOKIE_SECRET="cookie"
SECURE_COOKIE="false"
